body {
    background-color:#ffffff;
    color:gray;
}

#header {
    width: auto;
    height: auto;
    text-align: center;
}

#logo1 {
    float: left;
    padding-top: 10px;
    padding-left: 10px;
}

#logo2 {
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
}

#number{
    position:absolute;
    top:220px;
    left:20px;
    background:red;
}

#voterA{
    position:absolute;
    top:320px;
    left:20px;
    background:red;
}

#voterB{
    position:absolute;
    top:420px;
    left:20px;
    background:red;
}

#apptext {
    float: right;
    text-align: right;
    padding-right: 10px;
}

#canvas_container {
   width: 100%;
   height: 100%;
   padding-top: 35px;
   position: fixed;
   top: 0%;
   left: 0%;
}

#button-push {
    position: fixed;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
    width: 150%;
    height: 150%;
}
.image-container {
    width: 100%;
    height: auto;
    margin: 0 auto;
}
.image-container img {
    width: 100%;
    height: auto;
}
.hand.image-container {
    width: 100%;
    top: -60%;
    position: absolute;
    transition: 0.2s;
}
.bass-button.image-container {
    position: absolute;
    bottom: -12%;
    left: 0%;
    right: 0%;
    margin: auto;
    width: 75%;
}
.border-button.image-container {
    position: absolute;
    bottom: -15%;
    left: 0%;
    right: 0%;
    margin: auto;
    width: 75%;
}
.overlay {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 74.9%;
    margin: auto;
    width: 600px;
    height: 600px;
    background: white;
}

canvas {
    position: absolute;
    left: 19.31%;
    width: 61.37%;
    height: 90%;
    padding-top:100px;
}

#ender {
    text-align: center;
    padding-top: 5px;
    width: auto;
    height: auto;
}

#status {
    float: left;
    text-align: left;
    padding-left: 10px;
}

#controls {
    float: right;
    padding-right: 10px;
}

input#snapshotbutton {
    cursor: pointer;
    padding: 5px 10px;
    background: #808080;
    border: 1px solid #000000;
}

input#snapshotbutton:hover, input#snapshotbutton:focus {
    background-color: #696868;
    -webkit-box-shadow: 0 0 1px rgba(0,0,0, .75);
    -moz-box-shadow: 0 0 1px rgba(0,0,0, .75);
    box-shadow: 0 0 1px rgba(0,0,0, .75);
}

#bufferCanvas {
    visibility: hidden;
}

@media screen and (-ms-view-state: fullscreen-landscape) {
}

@media screen and (-ms-view-state: filled) {
}

@media screen and (-ms-view-state: snapped) {
}

@media screen and (-ms-view-state: fullscreen-portrait) {
}
